/* media query per tablet */

@media screen and (max-width:992px) {

    .card {
        width: calc(100% / 4 - 20px);
    }
    
}

@media screen and (max-width:768px) {

    .card {
        width: calc(100% / 2 - 20px);
    }

    .player-left, .player-right {        
        width: 150px;
    }
    
    .player-menu {        
        width: calc(100% - 300px);
    }

    .player-loghi {
        margin-left: 5px;
    }
    
}

/* media query per smartphone */

@media screen and (max-width:576px) {

    .sidebar {
        width: 50px;
    }

    .fix-upgrade {
        width: calc(100vw - 50px);
    }
    
    .main-album {
        width: calc(100vw - 50px);
    }

    .logo-desk {
        display: none;
    }
    
    .logo-smart {
        display: block;
        width: 35px;
        margin: 10px 10px;
    }

    .list {
        padding: 0;
    }
    
    .list li:hover {
        cursor: pointer;
        color: white;
    }
    
    .scroll {
        display: none;
    }
      
    .list li {
        margin:  0;
    }

    .list img {
        width: 40px;        
        vertical-align: middle;
        margin: 5px 5px;
    }

    .list a {
        display: none;
    }

    .list span {
        display: none;
    }

    .list h3 {
        display: none;
    }

    .playlist-btn {
        display: none;
    }

    .side-2 {
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile::before {
        display: none;
    }
    
    .profile img {
       height: 30px;
       width: 30px;
       background-color: #808080;
       border-radius: 50%;
       vertical-align: middle;
       margin: 10px auto;
    }
    
    .profile span {
       display: none;
    }
    
    .download span {
        display: none;
    }
 
}