/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

/* barra laterale di sinistra */

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-2 {
    width: calc(100% - 20px);
    color: #717171;
    margin-left: 20px;
}
  
.logo {
    width: 130px;
    margin: 20px 20px;
}
  
.list {
    width: 100%;
    color: #717171;
    margin: 20px 20px;
}

.list li:hover {
    border-left: 5px solid yellow;
    padding-left: 10px;
    cursor: pointer;
    color: white;
}

.scroll {
    height: 40vh;
    overflow-y: auto;
}
  
.list ul {
    list-style: none;
}

.list li {
    margin:  15px 0;
}

.list img {
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.list a {
    text-decoration: none;
    color: inherit;
}

.playlist-btn {
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    padding-top: 8px;
    font-size: 20px;
    color: #000;
    text-align: center;
    vertical-align: baseline;
}

.profile::before {
    content: "";
    height: 1px;
    width: 190px;
    background-color: #a3a3a3;
    display: inline-block;
    margin-bottom: 10px;
}

.profile img {
   height: 25px;
   width: 25px;
   background-color: #808080;
   border-radius: 50%;
   vertical-align: middle;
   margin-bottom: 5px;
}

.profile span {
   color: white;
}





/* barra in alto fixata */
.fix-upgrade {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: calc(100vw - 230px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade {
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
}

.upgrade:hover {
    transform: scale(1.1);
}





/* main centrale con gli album */

/* lista menu in alto */
.bar-nav {
    margin-top: 120px;
}

.bar-nav ul {
    text-align: center;
}

.bar-nav li {
    display:inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    position: relative;
}

.bar-nav li > a {
    color: #64676D;
    text-decoration: none;
}

.bar-nav a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: yellow;
    position: absolute;
    bottom: -8px;
    display: none;
}

.bar-nav a:hover::after {
    display: block;
}

















.main-album {
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}

footer {
    width: 100vw;
    height: 90px;
    background-color: #282828;
}