/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* lista dei div container */

.web-app {
    background-color: black;
    height: 100vh;
}

.webapp-top {
    display: flex;
    overflow-y: hidden;
}

.webapp-bottom {
    width: 100vw;
    height: 90px;
    background-color: #282828;
}

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fix-upgrade {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: calc(100vw - 230px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-album {
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}





/* barra laterale di sinistra */

.side-2 {
    width: calc(100% - 20px);
    color: #717171;
    margin-left: 20px;
}
  
.logo {
    width: 130px;
    margin: 20px 20px;
}
  
.list {
    width: 100%;
    color: #717171;
    margin: 20px 20px;
}

.list li:hover {
    border-left: 5px solid yellow;
    padding-left: 10px;
    cursor: pointer;
    color: white;
}

.scroll {
    height: 40vh;
    overflow-y: auto;
}
  
.list ul {
    list-style: none;
}

.list li {
    margin:  15px 0;
}

.list img {
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.list a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.playlist-btn {
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    padding-top: 8px;
    font-size: 20px;
    color: #000;
    text-align: center;
    vertical-align: baseline;
}

.profile::before {
    content: "";
    height: 1px;
    width: 190px;
    background-color: #a3a3a3;
    display: inline-block;
    margin-bottom: 10px;
}

.profile img {
   height: 25px;
   width: 25px;
   background-color: #808080;
   border-radius: 50%;
   vertical-align: middle;
   margin-bottom: 5px;
}

.profile span {
   color: white;
}





/* barra in alto fixata */

.upgrade {
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
}

.upgrade:hover {
    transform: scale(1.1);
}





/* main centrale con gli album */

/* lista menu in alto */

.bar-nav {
    margin-top: 120px;
}

.bar-nav ul {
    text-align: center;
}

.bar-nav li {
    display:inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    position: relative;
}

.bar-nav li > a {
    color: #64676D;
    text-decoration: none;
}

.bar-nav a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: yellow;
    position: absolute;
    bottom: -8px;
    display: none;
}

.bar-nav a:hover::after {
    display: block;
}



.title {
    margin: 20px;
    color: #fff;
}


/* schede degli album  */
.musicpedia {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.card {
    text-align: center;
    color: #fff;
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
}
  
.cover {
    position: relative;
}
  
.cover i {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 70px;
}
  
.cover img {
    width: 100%;
}

.ghosty {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.cover:hover .ghosty {
    display: block;
    cursor: pointer;
}

.sub {
    color: #6D7075;
    font-size: 15px;
    margin: 10px;
}

.title p {
    color: #6D7075;
    font-size: 15px;
    margin-top: 10px;
}

.circle {
    border-radius: 50%;
}














