/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* lista dei div container */

.web-app {
    background-color: black;
    height: 100vh;
}

.webapp-top {
    display: flex;
    overflow-y: hidden;
}

.webapp-bottom {
    width: 100vw;
    height: 100px;
    background-color: #282828;
    display: flex;
}

.sidebar {
    width: 230px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fix-upgrade {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: calc(100vw - 230px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-album {
    width: calc(100vw - 230px);
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow-y: auto;
}





/* barra laterale di sinistra */

.side-2 {
    width: calc(100% - 20px);
    color: #717171;
    margin-left: 20px;
}
  
.logo {
    width: 130px;
    margin: 20px 20px;
}
  
.list {
    width: 100%;
    color: #717171;
    padding: 20px 20px;
}

.list li:hover {
    cursor: pointer;
    color: white;
}

.scroll {
    height: 40vh;
    overflow-y: auto;
}
  
.list ul {
    list-style: none;
}

.list li {
    margin:  15px 0;
}

.list img {
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.list a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.playlist-btn {
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    padding-top: 8px;
    font-size: 20px;
    color: #000;
    text-align: center;
    vertical-align: baseline;
}

.profile::before {
    content: "";
    height: 1px;
    width: 190px;
    background-color: #a3a3a3;
    display: inline-block;
    margin-bottom: 10px;
}

.profile img {
   height: 25px;
   width: 25px;
   background-color: #808080;
   border-radius: 50%;
   vertical-align: middle;
   margin-bottom: 5px;
}

.profile span {
   color: white;
}

.download span:hover {
    color: white;
    cursor: pointer;
}





/* barra in alto fixata */

.upgrade {
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
}

.upgrade:hover {
    transform: scale(1.1);
}





/* main centrale con gli album */

/* lista menu in alto */

.bar-nav {
    margin-top: 120px;
}

.bar-nav ul {
    text-align: center;
}

.bar-nav li {
    display:inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    position: relative;
}

.bar-nav li > a {
    color: #64676D;
    text-decoration: none;
}

.bar-nav a::after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: yellow;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.bar-nav a:hover::after {
    display: block;
}

.bar-nav a:hover {
    color: white;
}



.title {
    margin: 20px;
    color: #fff;
}



/* schede degli album  */
.musicpedia {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.card {
    text-align: center;
    color: #fff;
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
}
  
.cover {
    position: relative;
}
  
.cover i {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 70px;
}
  
.cover img {
    width: 100%;
}

.ghosty {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.cover:hover .ghosty {
    display: block;
    cursor: pointer;
}

.sub {
    color: #6D7075;
    font-size: 15px;
    margin: 10px;
}

.title p {
    color: #6D7075;
    font-size: 15px;
    margin-top: 10px;
}

.circle {
    border-radius: 50%;
}






/* footer in basso con bottoni */
.player-left, .player-right {
    align-items: center;
    width: 230px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.player-menu {
    width: calc(100% - 460px);
    height: 100%;
    text-align: center;
    color: #fff;
}





/* sezione a sinistra con foto album */
.player-left img {
    width: 42px;
    height: 42px;
    margin-left: 20px;
}

.song-title h4 {
    margin: 5px;
}

.song-title p {
    color: #6D7075;
    font-size: 15px;
    margin: 5px;
}

.player-loghi {
    margin-left: 25px;
    color: #6D7075;
}

.player-left i {
    margin-right: 10px;
}

.song-title p:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.player-loghi i:hover {
    color: white;
    cursor: pointer;
}





/* sezione centrale col play e barra */
.btn-flex {
    display: flex;
    flex-wrap: wrap;
}

.player-btn ul {
    justify-content: center;
    align-items: center;
}

.player-btn li {
    list-style-type: none;
    padding: 0 15px ;
    padding-top: 15px;
    font-size: 18px;
}

li.btn-big {
    font-size: 32px;
}

li.btn-big:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.player-time span {
    font-size: 12px;
}





/* sezione di destra con volume */
.player-right i {
    margin-right: 10px;
}

.volume-bar {
    width: 50%;
    height: 4px;
    border-radius: 3px;
    background-color: #5a5a5a;
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
}

.volume-line {
    height: inherit;
    width: 60%;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
} 

.volume-line-yellow {
    height: inherit;
    width: 100%;
    border-radius: 3px;
    background-color: rgb(81, 255, 0);
    position: relative;
    display: none;
}

.volume-pointer {
    display: none;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(50%,-50%);
    position: absolute;
    top: 50%;
    right: 0;
}

.volume-bar:hover .volume-pointer {
    display: block;
    cursor: pointer;
}

.volume-bar:hover .volume-line-yellow {
    display: block;
    cursor: pointer;
}